@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

blockquote header{
	margin-bottom: 1em;
}

footer{
	margin-top: 1em;
	text-align: right;
}

dfn,
q,
time,
var{
	font-style: italic;
}

q em{
	font-style: normal;
}

table{
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	margin: 1em 0;
}

caption{
	font-style: italic;
	text-align: initial;
}

th{
	font-weight: normal;
	text-align: right;
}

td{
	padding-left: .5em;
	vertical-align: bottom;
}

td:first-child{
	padding-left: 0;
	vertical-align: top;
}

tfoot td + td{
	border-top: 1px solid;
}

blockquote[xml|lang]{
	font-style: italic;
}

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em,
[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
article > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: initial;
}

article > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	article > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p,
[epub|type~="z3998:song"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] header p{
	text-align: center;
}

p[epub|type~="z3998:salutation"] + p,
p[epub|type~="z3998:recipient"] + p{
	text-indent: 0;
}

p[epub|type~="se:letter.dateline"]{
	text-align: right;
}

footer p[epub|type~="se:letter.dateline"]{
	text-align: initial;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
}

table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:stage-direction"]{
	font-style: italic;
}

[epub|type~="z3998:stage-direction"]::before{
	content: "(";
	font-style: normal;
}

[epub|type~="z3998:stage-direction"]::after{
	content: ")";
	font-style: normal;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:diary-entry"]{
	margin-top: .5em;
}

/* story-specific styles */
#the-unparalleled-adventure-of-one-hans-pfaall > [epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

#the-unparalleled-adventure-of-one-hans-pfaall > [epub|type~="z3998:letter"] p[epub|type~="z3998:salutation"]{
	font-style: italic;
	font-variant: normal;
	text-align: initial;
}

#the-fall-of-the-house-of-usher [epub|type~="z3998:poem"] > section + section{
	margin-top: 2em;
}

#the-fall-of-the-house-of-usher [epub|type~="z3998:poem"] header > p{
	text-align: center;
}

#the-fall-of-the-house-of-usher [epub|type~="z3998:poem"] header + p{
	margin-top: 0;
}

#the-business-man table{
	width: 100%;
}

#the-business-man td:first-child{
	white-space: nowrap;
}

#the-business-man td + td + td{
	text-align: right;
}

#never-bet-the-devil-your-head p:nth-last-child(4) > em{
	display: block;
	margin: .5em 0;
	text-align: center;
	text-indent: 0;
}

#the-gold-bug > blockquote:nth-of-type(2){
	word-break: break-all;
}

#the-gold-bug table{
	margin-left: auto;
	margin-right: auto;
}

#the-gold-bug td{
	text-align: right;
}

#the-gold-bug td:nth-last-child(2){
	text-align: center;
}

#thou-art-the-man [epub|type~="z3998:letter"] header{
	border-style: solid;
	border-width: 0 0 1px;
	margin: 0 0 .5em;
	padding: 0 0 .5em;
}

@supports(writing-mode: sideways-lr){
	#thou-art-the-man [epub|type~="z3998:letter"]{
		align-items: center;
		display: flex;
	}

	#thou-art-the-man [epub|type~="z3998:letter"] header{
		border-width: 0 1px 0 0;
		margin: 0 .5em 0 0;
		padding: 0 .5em 0 0;
		writing-mode: sideways-lr;
	}
}

#the-literary-life-of-thingum-bob-esq > blockquote:nth-of-type(7){
	font-style: italic;
}

#the-literary-life-of-thingum-bob-esq > blockquote:last-of-type{
	font-style: italic;
	text-align: center;
}

#the-literary-life-of-thingum-bob-esq > blockquote:nth-of-type(7) i,
#the-literary-life-of-thingum-bob-esq > blockquote:last-of-type i{
	font-style: normal;
}

#mellonta-tauta-8 > blockquote{
	text-align: center;
}

@media(max-width: 400px){
	[epub|type~="z3998:drama"] td,
	[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"],
	[epub|type~="z3998:drama"] td:last-child{
		display: block;
		padding: 0;
		text-align: initial;
		width: 100%;
	}

	[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
		break-after: avoid;
		margin-top: 1.5em;
	}
}
