@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

footer{
	margin-top: 1em;
	text-align: right;
}

table{
	border-collapse: collapse;
	margin: 1em 0;
	font-variant-numeric: tabular-nums;
}

caption{
	font-style: italic;
	text-align: left;
}

th{
	font-weight: normal;
	text-align: right;
}

td{
	vertical-align: bottom;
	padding-left: .5em;
}

td:first-child{
	padding-left: 0;
}

tfoot td:not(:empty){
	border-top: 1px solid;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

blockquote[xml|lang]{
	font-style: italic;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
}

[epub|type~="epigraph"] em,
[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	margin-top: 1em;
	font-style: normal;
	font-variant: small-caps;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Epigraphs in section headers */
section > header [epub|type~="epigraph"]{
	display: inline-block;
	margin: auto;
	max-width: 80%;
	text-align: left;
}

section > header [epub|type~="epigraph"] + *{
	margin-top: 3em;
}

@supports(display: table){
	section > header [epub|type~="epigraph"]{
		display: table;
	}
}
/* End epigraphs in section headers */

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:poem"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] header > p{
	text-align: center;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

p span.i2{
	text-indent: -1em;
	padding-left: 3em;
}

p span.i3{
	text-indent: -1em;
	padding-left: 4em;
}

.signature,
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: left;
}

/* story-specific styles */
#the-unparalleled-adventures-of-one-hans-pfaall [epub|type~="z3998:letter"]{
	margin-left: 0;
	margin-right: 0;
}

#the-business-man table{
	width: 100%;
}

#the-business-man td:first-child{
	white-space: nowrap;
}

#the-business-man td + td + td{
	text-align: right;
}

#never-bet-the-devil-your-head p:nth-last-child(4) > em{
	display: block;
	text-align: center;
	text-indent: 0;
	margin: 0.5em 0;
}

#the-gold-bug td:nth-last-child(2){
	text-align: center;
}

#the-gold-bug td:last-child{
	text-align: right;
}

#diddling > blockquote:last-of-type{
	text-align: center;
	font-variant: small-caps;
}

#thou-art-the-man [epub|type~="z3998:letter"] header{
	border-width: 0 0 1px;
	border-style: solid;
	margin: 0 0 .5em;
	padding: 0 0 .5em;
}

@supports(writing-mode: sideways-lr){
	#thou-art-the-man [epub|type~="z3998:letter"]{
		display: flex;
		align-items: center;
	}

	#thou-art-the-man [epub|type~="z3998:letter"] header{
		border-width: 0 1px 0 0;
		margin: 0 .5em 0 0;
		padding: 0 .5em 0 0;
		writing-mode: sideways-lr;
	}
}

#the-literary-life-of-thingum-bob-esq blockquote:last-of-type{
	text-align: center;
	font-style: italic;
}
